
<div>
	<div style="float:left">
		<p>
			<%= @character.description %>
		</p>
	</div>
	<div style="float:right; background: #f2f9ff;;">
		<table cellspacing="3" style="border-spacing:3px;width:18em;width: 20em;">
			<tr>
				<th>
					<%= @character.name %>
				</th>
			</tr>
			<tr>
				<td>
					Strength <%= @character.strength %>
				</td>
				<td>
					Perception <%= @character.perception %>
				</td>
				<td>
					Appearance <%= @character.appearance %>
				</td>
			</tr>
			<tr>
				<td>
					Dexterity <%= @character.dexterity %>
				</td>
				<td>
					Intelligence <%= @character.intelligence %>
				</td>
				<td>
					Manipulation <%= @character.manipulation %>
				</td>
			</tr>
			<tr>
				<td>
					Stamina <%= @character.stamina %>
				</td>
				<td>
					Wits <%= @character.wits %>
				</td>
				<td>
					Charisma <%= @character.charisma %>
				</td>
			</tr>
		</table>
		<h3>Powers</h3>
		<% @powers_known.each do |power| %>
			<li>
				<%= power.power.name %>
				<%= power.rating %>
			</li>
		<% end %>
	</div>
</div>

